<h3>Contacts Form Table</h3>
<table class="table table-bordered table-striped table-condensed">
  <tr>
    <th class="text-center">Id</th>
    <th class="text-center">Email</th>
    <th class="text-center">Message</th>
    <th class="text-center">Created at</th>
    <th class="text-center">Status(need to add into DB)</th>
    <th class="text-center">Actions</th>
  </tr>
  <tbody>
    <% @contact.each do |p| %>
      <tr>
        <td><%= p.id %></td>
        <td><%= p.email %></td>
        <td><%= p.comments %></td>
        <td><%= p.created_at %></td>
        <td></td>
        <td><!-- Single button -->
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Action <span class="caret"></span>
              <span class="sr-only"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#">Edit</a></li>
              <li><%= link_to "Destroy", admin_destroy_contact_path(p), method: :delete, data: { confirm: "You sure?" } %></li>
              <li><a href="#">Reset Password</a></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  