<div class="container">  
  <h1 class="text-center">DevMatch Community</h1>
  <p class="text-center">Welcome to the DevMatch community. Users must fill out a profile in order to be visible in the community.</p>
  <ul>
    <% @user.each do |p| %>
      <% if p.profile %>  
        <li class="list-unstyled">
          <div class="container mt-25 shdw">
            <div class="well <%= cycle('white-bg', '') %>">
              <div class="row">
                <div class="col-md-4 right-border text-center">
                  <%= link_to p do %>
                    <%= image_tag p.profile.avatar.url(:medium), class:"img-responsive center-block"  %>
                  <% end %>
                  <br>
                  <hr>
                  <p class="text-center"><%= "Member since  #{p.created_at.strftime("%B %d, %Y ")}" %></p>
                  <br>
                </div>
                <div class="col-md-8">
                  <%= link_to p do %>
                  <h1><%=p.profile.first_name %>
                  <%= " #{p.profile.last_name}" %></h1>
                  <% end %>
                  <p>
                    <h3>
                    <%= job_title_icon_index(p.profile.job_title) %></span>&nbsp<%=p.profile.job_title %>
                    <% if p.plan_id == 2 %>
                      <span class="label label-danger">Pro</span>
                    <% end %>
                    </h3>
                  </p>
                  <!--<br>-->
                  <hr>
                  <!--<h3><u>Description</u></h3>-->
                  <p style="white-space: pre-wrap;"><%= p.profile.description.lines.first %></p>
                  <br>
                  <br>
                  <br>
                  <br>
                  <%= link_to "Click to view profile", user_path(p.id) , class: "btn btn-success btn-lg btn-block" %>
                </div>
              </div>
            </div>
          </div>
        </li>
      <% end %>  
    <% end %>
  </ul>  
</div>