<div class="container mt-25 shdw">
  <div class="row">
    <div class="col-md-3 right-border text-center">
      <%= image_tag @user.profile.avatar.url(:medium), class:"img-responsive center-block" %>
      <br>
      <hr>
      <%= "Member since #{@date}" %>
      <br>
      <br>
      <% if current_user.plan_id == 2 || current_user == @user %>
        <span><i class='fa fa-envelope fa-lg aria-hidden="true"'></i>&nbsp&nbsp&nbsp</span>
        <%= @user.profile.contact_email %>
        <br>
        <br>
        <span><i class='fa fa-phone fa-lg aria-hidden="true"'></i>&nbsp&nbsp&nbsp&nbsp&nbsp</span>
        <%= @user.profile.phone_number %>
        <br>
      <% else %>
        <p class="help-block">Become a pro member to see contact details.</p>
      <% end %>
      <br>
      <% if @user.id == current_user.id %>
        <%= link_to "Edit your profile", edit_user_profile_path(user_id: current_user.id), class: "btn btn-info btn-block" %>
      <% end %>
    </div>
      <div class="col-md-6">
        <h1><%= @user.profile.first_name %>
        <%= " #{@user.profile.last_name}" %></h1>
        <br>
        <h3><span class="job-title-icon"><%= job_title_icon %></span>&nbsp<%= @user.profile.job_title %></h3>
        <br>
        <h3><u>Description</u></h3>
        <p style="white-space: pre-wrap;"><%= @user.profile.description %></p>
        <br>
      </div>
  </div>
</div>